.contact-container {
    background: var(--color-bg1);
    padding: 4rem;
    display: grid;
    grid-template-columns: 40% 60%;
    gap: 4rem;
    height: 30rem;
    margin: 7rem auto;
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
}

/* start aside */
.contact-aside {
    background: var(--color-primary);
    padding: 3rem;
    position: relative;
    bottom: 10rem;
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
}

.aside-image {
    width: 12rem;
    margin-bottom: 2rem;
}

.contact-aside h2 {
    text-align: left;
    margin-bottom: 1rem;
}

.contact-aside p {
    font-size: 0.9rem;
    margin-bottom: 2rem;
}

.contact-details li {
    display: flex;
    gap: 1rem;
    align-items: center;
    margin-bottom: 1rem;
}

.contact-socials {
    display: flex;
    gap: 0.8rem;
    margin-top: 3rem;
}

.contact-socials a {
    padding: 0.5rem;
    font-size: 0.9rem;
    background: var(--color-bg2);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    transition: var(--transition);
    -webkit-transition: var(--transition);
    -moz-transition: var(--transition);
    -ms-transition: var(--transition);
    -o-transition: var(--transition);
}

.contact-socials a:hover {
    background: transparent;
}
/* end aside */
/* start form */
.contact-form {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    margin-right: 4rem;
}

.form-name {
    display: flex;
    gap: 1.2rem;
}

.contact-form input[type = "text"] {
    width: 50%;
}

.contact-form input, textarea {
    width: 100%;
    padding: 1rem;
    background: var(--color-bg);
    color: var(--color-white);
}

.contact-form .btn {
    width: max-content;
    margin-top: 1rem;
    cursor: pointer;
}
/* end form */

/* start media queries (tablets) */
@media screen and (max-width: 1024px) {
    .contact {
        padding-bottom: 0;
    }

    .contact-container {
        gap: 1.5rem;
        margin-top: 3rem;
        height: auto;
        padding: 1.5rem;
    }

    .contact-aside {
        width: auto;
        padding: 1.5rem;
        bottom: 0;
    }

    .contact-form {
        align-self: center;
        margin-right: 1.5rem;
    }
}
/* end media queries (tablets) */
/* start media queries (mobile) */
@media screen and (max-width: 600px){
    .contact-container {
        grid-template-columns: 1fr;
        gap: 3rem;
        margin-top: 0;
        padding: 0;
    }

    .contact-form {
        margin: 0 1.5rem 3rem;
    }

    .form-name {
        flex-direction: column;
    }

    .form-name input[type = "text"] {
        width: 100%;
    }
}
/* end media queries (mobile) */